# X500 - Introdução à Ciência de Dados

Prof. Erneson Alves de Oliveira<br>
Programa de Pós-Graduação em Informática Aplicada<br>
Universidade de Fortaleza

# 2 Introdução ao Pandas

![picture](https://drive.google.com/thumbnail?id=1UzNXA9dEa9ynMRWH5PqgUUAk-dWSKkWN&sz=w600)

https://pandas.pydata.org

## 2.1 O que é Pandas?

Pandas é um módulo para manipulação de tabelas (planilhas).

![picture](https://drive.google.com/thumbnail?id=1EqkkwMguFttpovsYVstiQKsxgmPz34Kb&sz=w400)

## 2.2 Séries

![picture](https://drive.google.com/thumbnail?id=1FmeCWF76KsBFbTM9CJQ5k1efxyD6m0Gn&sz=w300)

In [3]:
import pandas as pd
import numpy as np

apples = [3, 2, 0, 1]

s = pd.Series(apples,
              name = 'apples',
              dtype = np.int64)

print(s)
print(type(s))
print(dir(s))

0    3
1    2
2    0
3    1
Name: apples, dtype: int64
<class 'pandas.core.series.Series'>
['T', '_AXIS_LEN', '_AXIS_ORDERS', '_AXIS_TO_AXIS_NUMBER', '_HANDLED_TYPES', '__abs__', '__add__', '__and__', '__annotations__', '__array__', '__array_priority__', '__array_ufunc__', '__bool__', '__class__', '__column_consortium_standard__', '__contains__', '__copy__', '__deepcopy__', '__delattr__', '__delitem__', '__dict__', '__dir__', '__divmod__', '__doc__', '__eq__', '__finalize__', '__float__', '__floordiv__', '__format__', '__ge__', '__getattr__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__iadd__', '__iand__', '__ifloordiv__', '__imod__', '__imul__', '__init__', '__init_subclass__', '__int__', '__invert__', '__ior__', '__ipow__', '__isub__', '__iter__', '__itruediv__', '__ixor__', '__le__', '__len__', '__lt__', '__matmul__', '__mod__', '__module__', '__mul__', '__ne__', '__neg__', '__new__', '__nonzero__', '__or__', '__pandas_priority__', '__pos__', '__pow__', '__radd__', '__rand__', '__rdivmod__', '__reduce__', '__reduce_ex__', '__repr__', '__rfloordiv__', '__rmatmul__', '__rmod__', '__rmul__', '__ror__', '__round__', '__rpow__', '__rsub__', '__rtruediv__', '__rxor__', '__setattr__', '__setitem__', '__setstate__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__truediv__', '__weakref__', '__xor__', '_accessors', '_accum_func', '_agg_examples_doc', '_agg_see_also_doc', '_align_for_op', '_align_frame', '_align_series', '_append', '_arith_method', '_as_manager', '_attrs', '_binop', '_can_hold_na', '_check_inplace_and_allows_duplicate_labels', '_check_is_chained_assignment_possible', '_check_label_or_level_ambiguity', '_check_setitem_copy', '_clear_item_cache', '_clip_with_one_bound', '_clip_with_scalar', '_cmp_method', '_consolidate', '_consolidate_inplace', '_construct_axes_dict', '_construct_result', '_constructor', '_constructor_expanddim', '_constructor_expanddim_from_mgr', '_constructor_from_mgr', '_data', '_deprecate_downcast', '_dir_additions', '_dir_deletions', '_drop_axis', '_drop_labels_or_levels', '_duplicated', '_find_valid_index', '_flags', '_flex_method', '_from_mgr', '_get_axis', '_get_axis_name', '_get_axis_number', '_get_axis_resolvers', '_get_block_manager_axis', '_get_bool_data', '_get_cacher', '_get_cleaned_column_resolvers', '_get_index_resolvers', '_get_label_or_level_values', '_get_numeric_data', '_get_rows_with_mask', '_get_value', '_get_values_tuple', '_get_with', '_getitem_slice', '_gotitem', '_hidden_attrs', '_indexed_same', '_info_axis', '_info_axis_name', '_info_axis_number', '_init_dict', '_init_mgr', '_inplace_method', '_internal_names', '_internal_names_set', '_is_cached', '_is_copy', '_is_label_or_level_reference', '_is_label_reference', '_is_level_reference', '_is_mixed_type', '_is_view', '_is_view_after_cow_rules', '_item_cache', '_ixs', '_logical_func', '_logical_method', '_map_values', '_maybe_update_cacher', '_memory_usage', '_metadata', '_mgr', '_min_count_stat_function', '_name', '_needs_reindex_multi', '_pad_or_backfill', '_protect_consolidate', '_reduce', '_references', '_reindex_axes', '_reindex_indexer', '_reindex_multi', '_reindex_with_indexers', '_rename', '_replace_single', '_repr_data_resource_', '_repr_latex_', '_reset_cache', '_reset_cacher', '_set_as_cached', '_set_axis', '_set_axis_name', '_set_axis_nocheck', '_set_is_copy', '_set_labels', '_set_name', '_set_value', '_set_values', '_set_with', '_set_with_engine', '_shift_with_freq', '_slice', '_stat_function', '_stat_function_ddof', '_take_with_is_copy', '_to_latex_via_styler', '_typ', '_update_inplace', '_validate_dtype', '_values', '_where', 'abs', 'add', 'add_prefix', 'add_suffix', 'agg', 'aggregate', 'align', 'all', 'any', 'apply', 'argmax', 'argmin', 'argsort', 'array', 'asfreq', 'asof', 'astype', 'at', 'at_time', 'attrs', 'autocorr', 'axes', 'backfill', 'between', 'between_time', 'bfill', 'bool', 'case_when', 'clip', 'combine', 'combine_first', 'compare', 'convert_dtypes', 'copy', 'corr', 'count', 'cov', 'cummax', 'cummin', 'cumprod', 'cumsum', 'describe', 'diff', 'div', 'divide', 'divmod', 'dot', 'drop', 'drop_duplicates', 'droplevel', 'dropna', 'dtype', 'dtypes', 'duplicated', 'empty', 'eq', 'equals', 'ewm', 'expanding', 'explode', 'factorize', 'ffill', 'fillna', 'filter', 'first', 'first_valid_index', 'flags', 'floordiv', 'ge', 'get', 'groupby', 'gt', 'hasnans', 'head', 'hist', 'iat', 'idxmax', 'idxmin', 'iloc', 'index', 'infer_objects', 'info', 'interpolate', 'is_monotonic_decreasing', 'is_monotonic_increasing', 'is_unique', 'isin', 'isna', 'isnull', 'item', 'items', 'keys', 'kurt', 'kurtosis', 'last', 'last_valid_index', 'le', 'list', 'loc', 'lt', 'map', 'mask', 'max', 'mean', 'median', 'memory_usage', 'min', 'mod', 'mode', 'mul', 'multiply', 'name', 'nbytes', 'ndim', 'ne', 'nlargest', 'notna', 'notnull', 'nsmallest', 'nunique', 'pad', 'pct_change', 'pipe', 'plot', 'pop', 'pow', 'prod', 'product', 'quantile', 'radd', 'rank', 'ravel', 'rdiv', 'rdivmod', 'reindex', 'reindex_like', 'rename', 'rename_axis', 'reorder_levels', 'repeat', 'replace', 'resample', 'reset_index', 'rfloordiv', 'rmod', 'rmul', 'rolling', 'round', 'rpow', 'rsub', 'rtruediv', 'sample', 'searchsorted', 'sem', 'set_axis', 'set_flags', 'shape', 'shift', 'size', 'skew', 'sort_index', 'sort_values', 'squeeze', 'std', 'struct', 'sub', 'subtract', 'sum', 'swapaxes', 'swaplevel', 'tail', 'take', 'to_clipboard', 'to_csv', 'to_dict', 'to_excel', 'to_frame', 'to_hdf', 'to_json', 'to_latex', 'to_list', 'to_markdown', 'to_numpy', 'to_period', 'to_pickle', 'to_sql', 'to_string', 'to_timestamp', 'to_xarray', 'transform', 'transpose', 'truediv', 'truncate', 'tz_convert', 'tz_localize', 'unique', 'unstack', 'update', 'value_counts', 'values', 'var', 'view', 'where', 'xs']

In [7]:
print(s.head(2))
print(s.tail(2))

0    3
1    2
Name: apples, dtype: int64
2    0
3    1
Name: apples, dtype: int64

In [ ]:
print(s.ndim)
print(s.shape)

1
(4,)

In [8]:
print(s.mean())
print(s.max())
print(s.min())
print(s[0])

1.5
3
0
3

## 2.3 DataFrames (Planilhas)

![picture](https://drive.google.com/thumbnail?id=17blGuGZf1lLKyV3ZYEU9SR95jhd4rCqI&sz=w800)

In [ ]:
d = {'apples': [3, 2, 0, 1],
     'oranges': [0, 3, 7, 2]}

df = pd.DataFrame(d)

print(df)
print(type(df))
# print(dir(df))

   apples  oranges
0       3        0
1       2        3
2       0        7
3       1        2
<class 'pandas.core.frame.DataFrame'>

In [16]:
print(df.ndim)
print(df.shape)
print(df.mean())

2
(4, 2)
apples     1.5
oranges    3.0
dtype: float64

In [20]:
print(df.mean()['apples'])
print(df.max())
print(df.min())
print(df.T)
transpose = df.T
print(transpose.shape)

1.5
apples     3
oranges    7
dtype: int64
apples     0
oranges    0
dtype: int64
         0  1  2  3
apples   3  2  0  1
oranges  0  3  7  2
(2, 4)

In [ ]:
d = {'apples': [3, 2, 0, 1],
     'oranges': [0, 3, 7, 2]}

df = pd.DataFrame(d)
print(df)

print(list(df.index))
print(list(df.columns))

   apples  oranges
0       3        0
1       2        3
2       0        7
3       1        2
[0, 1, 2, 3]
['apples', 'oranges']

In [22]:
# minha_lista = []
# for x in df.index:
#     minha_lista.append(x)
# print(minha_lista)

minha_lista = [x for x in df.index]
print(minha_lista)

[0, 1, 2, 3]

In [25]:
d = {'apples': {'A': 3,
                'B': 2,
                'C': 0,
                'D': 1},
     'oranges': {'A': 0,
                 'B': 3,
                 'C': 7,
                 'D': 2}}

df = pd.DataFrame(d)
print(df)

print(list(df.index))
print(list(df.columns))

   apples  oranges
A       3        0
B       2        3
C       0        7
D       1        2
['A', 'B', 'C', 'D']
['apples', 'oranges']

## 2.4 Escrevendo e lendo (.csv e .xlsx)

In [28]:
d = {'apples': [3, 2, 0, 1],
     'oranges': [0, 3, 7, 2],
     'bananas': [1, 3, 5, 4],
     'avocados': [9, 0, 0, 1]}

df0 = pd.DataFrame(d)
print(df0)

   apples  oranges  bananas  avocados
0       3        0        1         9
1       2        3        3         0
2       0        7        5         0
3       1        2        4         1

### 2.4.1 Valores separados por vírgula (.csv)

In [29]:
df0.to_csv('arquivo_de_saida.csv',
           sep = ';',
           encoding = 'utf-8',
           header = True,
           index = False) # Escrevendo um CSV

In [30]:
df1 = pd.read_csv('arquivo_de_saida.csv',
                  sep = ';',
                  usecols = ['apples', 'bananas','oranges'],
                  encoding = 'utf-8',
                  nrows = 5) # Lendo um CSV
df1

   apples  oranges  bananas
0       3        0        1
1       2        3        3
2       0        7        5
3       1        2        4

### 2.4.2 Planilhas do Excel (.xlsx)

In [31]:
df0.to_excel('output.xlsx', index = False)

In [32]:
df2 = pd.read_excel('output.xlsx')
print(df2)

   apples  oranges  bananas  avocados
0       3        0        1         9
1       2        3        3         0
2       0        7        5         0
3       1        2        4         1

# Referências

[1] <a> https://docs.python.org/pt-br/3/tutorial/</a>

[2] <a> https://pandas.pydata.org/</a>

[3] Joel Grus. Data science from scratch: first principles with python. O'Reilly Media, 2019.